body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle at top, #1e293b, #0f172a 70%);
    color: #e2e8f0;
}

/* HEADER */
header {
    text-align: center;
    padding: 30px;
    background: linear-gradient(90deg, #0f172a, #1e293b);
    box-shadow: 0 4px 20px rgba(0,0,0,0.6);
}

h1 {
    font-size: 2.2rem;
    letter-spacing: 1px;
}

/* NAV */
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #38bdf8;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #22d3ee;
}

/* SECTIONS */
section {
    padding: 60px 10%;
}

/* IMAGE 
img {
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 200, 255, 0.2);
}*/


/* GRID DE AMENAZAS */
.amenazas-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 40px;
}

/* TARJETAS */
.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 25px rgba(56,189,248,0.6);
}

.card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 15px;
}

/* BUTTONS */
button {
    padding: 12px 25px;
    background: linear-gradient(90deg, #2563eb, #1d4ed8);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(37, 99, 235, 0.4);
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(37, 99, 235, 0.8);
}

/* SYSTEM PANEL */
#systemPanel {
    background: rgba(15, 23, 42, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(0,0,0,0.7);
}

/* INTEGRITY BAR */
.integrity-container {
    width: 100%;
    height: 22px;
    background: #334155;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px 0;
}

#integrityBar {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #22c55e, #16a34a);
    transition: 0.4s;
}

/* ALERT BOX */
.alert-box {
    margin-top: 25px;
    padding: 20px;
    background: linear-gradient(90deg, #7f1d1d, #991b1b);
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(220, 38, 38, 0.6);
}

/* CONSOLE */
.console {
    margin-top: 20px;
    background: black;
    padding: 15px;
    font-family: monospace;
    border-radius: 6px;
    box-shadow: inset 0 0 15px rgba(0,255,0,0.3);
    min-height: 80px;
}

/* FOOTER */
footer {
    background: #1e293b;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* HIDDEN */
.hidden {
    display: none;
}